3DBeginnner/Temp
3DBeginnner/Library
3DBeginnner/Logs
3DBeginnner/.idea/.idea.3DBeginnner/.idea
3DBeginnner.sln
3DBeginnner/Assembly-CSharp-Editor.csproj
3DBeginnner/Assembly-CSharp.csproj
3DBeginnner/.idea
JetBrains.meta
3DBeginnner/Assets/Plugins/Editor/JetBrains
3DBeginnner/obj/Debug
